
$url: url(https://images.unsplash.com/photo-1544070078-a212eda27b49?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
$b: 1.5em; // border-width
$blur: blur(9px);
$rect: inset(0);



.wrapper-corb{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-right: 80px;
    padding: 10px;
    display: grid;
	place-content: center;
	border: solid $b rgba(#000, .03);
	height: 50vmin;
	max-width: 13em; max-height: 7em;
	box-shadow: 2px 2px 5px rgba(#000, .2), 
							2px 2px 17px rgba(#000, .35), 
							2px 2px 25px rgba(#000, .5);
	color:blue;
	font: 600 1em/ 1.25 segoe script, comic sans ms, cursive;
	text-align: center;
	text-shadow: 1px 1px #000;
    
}

