.container {
  display: grid;
  grid-template-columns: 16.6fr 22fr 13.8fr;
  grid-template-rows: 0.4fr 0.9fr 1.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "List List Corb"
    "List List .";
}

.Header { grid-area: Header; }

.List { grid-area: List; }

.Corb { grid-area: Corb; }
