.container {
  display: grid;
  grid-template-columns: 1fr 1.3fr 0.7fr;
  grid-template-rows: 0.1fr 2.2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "List List Corb"
    "List List .";
}

.Header { grid-area: Header; }

.List { grid-area: List; }

.Corb { grid-area: Corb; }

